<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />
<script  type="text/javascript" src="${static.url('js/customize/jquery.simplepagination.js')}"></script>
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  <link rel="stylesheet" href="${static.url('css/lms-courses-programs-search.css')}" type="text/css" media="all" >
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="courses_programs_search/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/courses_programs_search/courses_programs_factory" class_name="ProgramsFactory">
    ProgramsFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language | n, js_escaped_string}",
      "${user_timezone | n, js_escaped_string}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>
<%block name="bodyclass">courses-programs-search</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="search-header">
      <div class="container">
        % if course_discovery_enabled:
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
          <form class="wrapper-search-input">
            <input id="discovery-input" class="discovery-input" placeholder="${_('Search courses and programs')}" type="text"/>
            <button type="submit" class="button postfix discovery-submit" title="${_('Search')}">
              <div class="btn-content" id="search-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.414" height="18.414" viewBox="0 0 18.414 18.414">
                  <use xlink:href="#magnifying-glass"></use>
                </svg>
                Search
              </div>
              <div id="loading-indicator" class="loading-spinner hidden">
                <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
              </div>
            </button>
          </form>
        </div>
        % if course_discovery_enabled:
        <div aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
          <section class="search-facets-lists">
          </section>
          <div id="filter-bar" class="filters hide-phone is-collapsed">
          </div>
        </div>
        % endif
        <div id="tab-search">
          <ul>
            <li><a href="/search/" data-tab-name="all">All</a></li>
            <li><a href="?tab=courses" data-tab-name="discovery">Courses</a></li>
            <li><a href="?tab=programs" data-tab-name="program">Programs</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="title">
      <div class="container">
        <div id="pagination"></div>
      </div>
    </section>
    <section class="find-courses">
      <div class="container">
        <section class="courses-container">
          % endif

          <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
            <ul class="journal-list">
              % for bundle in journal_info.get('journal_bundles'):
              <li class="courses-listing-item">
                <%include file="../journals/bundle_card.html" args="bundle=bundle" />
              </li>
              % endfor
            </ul>
            <ul class="journal-list">
              %for journal in journal_info.get('journals'):
              <li class="courses-listing-item">
                <%include file="../journals/journal_card.html" args="journal=journal" />
              </li>
              %endfor
            </ul>
            <ul class="courses-listing courses-list" id="courseslist">
              %for course in courses:
              <li class="courses-listing-item">
                <%include file="../course.html" args="course=course" />
              </li>
              %endfor
            </ul>
          </div>
        </section>
      </div>
    </section>
</main>
